.searchbar form span {
  font-size: 1rem;
  color: whitesmoke;
}

.searchbar form input {
  font-family: 'ubuntu', 'sans';
  padding: 7px;
  border: none;
  width: 200px;
  border-radius: 10px;
  font-size: 1rem;
}