.home .loaditem,
.search .loaditem {
  padding: 20px;
  outline: 2px solid #021526;
  border-radius: 30px;
  outline-offset: -15px;
  user-select: none;
  transition: all 0.4s ease-in-out;

  &:hover {
    box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.5);
  }
}

body.dark .home .loaditem,
body.dark .search .loaditem{
  outline: 2px solid #E5D9F2;
}