.search {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.App .title-search {
  width: 80%;
  margin-inline: auto;
  font-family: 'Ubuntu';
  color: #021526;
  padding: 10px;
  font-size: 3rem;
  border-bottom: #021526 2px solid;
}